.productBox:hover {
    transform: translate(0px, -10px);
}

.productBox {
    transition: 0.5s;
}



.button {
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
}


.btnn:hover {
    /* bg-white rounded-full px-10 py-3 text-xl  */
    background-color: white ;
    border-radius: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
}

.BG-Colors {
    background-color: #092B34;
}

.font-color {
    color: #FFD700;
}

.f-btn:hover {
    border: 1px solid white;
}

.cart-height {
    height: fit-content;
}

/* .btn-size {
   width: 20px;
} */

.my-element {
    
    padding: 10px;
    transition: all 0.2s ease-in-out; /* Add a smooth transition effect */
  }
  
  .my-element:hover {
    border: 1px solid #008080; /* Change the border on hover */
    background-color: #f7f7f7;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }