.productBox:hover {
    transform: translate(0px, -10px);
}

.productBox {
    transition: 0.5s;
}



.button {
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
}


.btnn:hover {
    /* bg-white rounded-full px-10 py-3 text-xl  */
    background-color: white ;
    border-radius: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
}

.BG-Colors {
    background-color: #092B34;
}

.font-color {
    color: #FFD700;
}

.f-btn:hover {
    border: 1px solid white;
}