.product-item-out-of-stock {
    background: #e9e9e9;
    opacity: .5;
    position: relative;
    transform: translateY(0)
}

.page-min {
    min-height: calc(100vh - 440px)
}

.profile-row {
    padding: 20px
}

.profile-row.active {
    background: var(--primaryColor);
    color: #fff !important
}

.page-content {
    margin: 40px 0
}

.navbar-nav {
    font-size: 13px
}

.navbar-nav>li>.nav-link {
    white-space: nowrap
}

img.card-img-top {
    height: 300px;
    object-fit: cover
}

.box-img {
    height: unset !important
}

a {
    text-decoration: none;
    color: var(--color-p)
}

a:hover {
    color: var(--color-black)
}

.btn.btn-primary {
    color: #fff !important;
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--primary-color);
    --bs-btn-border-color: var(--primary-color);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--color-secondary);
    --bs-btn-hover-border-color: var(--color-secondary);
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--primaryColor);
    --bs-btn-active-border-color: #var(--primaryColor);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--primaryColor);
    --bs-btn-disabled-border-color: var(--primaryColor)
}

.btn.btn-primary2 {
    background: var(--color-secondary);
    color: #fff !important
}

.btn.btn-primary2:hover {
    background: var(--primary-color)
}

.btn.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #45747a;
    --bs-btn-border-color: #45747a;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #5c636a;
    --bs-btn-hover-border-color: #565e64;
    --bs-btn-focus-shadow-rgb: 130,138,145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #565e64;
    --bs-btn-active-border-color: #51585e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6c757d;
    --bs-btn-disabled-border-color: #6c757d
}

.jq-toast-single {
    font-size: 18px;
    font-family: "Cairo",Helvetica,Arial,"Lucida Grande",sans-serif,"Times New Roman",Times,serif !important
}

.jq-toast-single .jq-toast-loader,.jq-toast-single .close-jq-toast-single {
    display: none
}

.form-group {
    margin-bottom: 15px
}

.block-product {
    height: 100%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    transition: .4s;
    z-index: 1;
    position: relative
}

.block-product .box-card {
    overflow: hidden
}

.block-product .actions-b {
    -webkit-border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
    position: relative;
    z-index: 1
}

.block-product .btn-mg {
    border: 0 !important
}

.block-product .btn-mg:hover {
    color: #000
}

.block-product .card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 16px
}

.block-product:after {
    content: "";
    position: absolute;
    background: #e3e8ed;
    right: 0;
    left: 0;
    bottom: 100%;
    top: 0;
    border-radius: 20px;
    transition: all .4s;
    z-index: -1
}

.block-product .label-p-top,.block-product .label-p-bottom {
    position: absolute;
    top: 20px;
    right: -9px;
    padding: 2px 10px;
    -webkit-border-radius: 15px 0 15px 15px;
    -moz-border-radius: 15px 0 15px 15px;
    border-radius: 15px 0 15px 15px;
    color: #fff;
    font-size: 12px;
    z-index: 6;
    background-color: var(--color-warning)
}

.block-product .label-p-top:before,.block-product .label-p-bottom:before {
    content: "";
    position: absolute;
    right: 0;
    border-radius: 50%;
    color: #fff;
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
    top: -10px;
    border-left: 10px solid rgba(0,0,0,0);
    border-right: 10px solid rgba(0,0,0,0);
    border-bottom: 10px solid rgba(0,0,0,0);
    border-top: 10px solid #bb8850;
    z-index: 5
}

.block-product .label-p-bottom {
    top: auto;
    bottom: 20px
}

.block-product .label-p-bottom:before {
    top: auto;
    bottom: -10px
}

.slick-sp {
    margin: 0 -10px
}

.slick-sp .slick-slide {
    margin: 0 10px
}

.slick-match-h .slick-track {
    display: flex !important
}

.slick-match-h .slick-slide {
    height: inherit !important;
    align-items: stretch
}

.r-avg .active {
    color: var(--color-secondary) !important
}

.icon-star1:before {
    color: var(--color-secondary) !important
}

.content-text {
    font-size: 16px
}

.content-text h1,.content-text h2,.content-text h3,.content-text h4,.content-text h5 {
    font-size: 16px;
    font-weight: bold
}

.size-box #product-variants-options .form-group div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

.size-box #product-variants-options .form-group div>label {
    color: var(--color-secondary) !important;
    font-size: calc(1.3rem + .6vw)
}

.size-box #product-variants-options ul li {
    border-radius: 0 20px !important;
    border-color: #6c757d !important
}

.size-box #product-variants-options ul li.active {
    border: 3px solid #47747a !important
}

.btn-off-menu {
    height: 24px
}

.slick-dots li {
    margin: 0 8px;
    height: unset !important;
    width: unset !important
}

.slick-dots li button {
    height: unset !important;
    width: unset !important
}

.img-question {
    width: 40px
}

.p-s-img img {
    width: 45%
}

.social-share a {
    color: #6c757d
}

.social-share a:hover {
    color: #47747a
}

.btm-nav .announcement-bar-display {
    display: none
}

.pagination {
    --bs-pagination-padding-x: 0.75rem;
    --bs-pagination-padding-y: 0.375rem;
    --bs-pagination-font-size: 1rem;
    --bs-pagination-color: #45747a;
    --bs-pagination-bg: #fff;
    --bs-pagination-border-width: 1px;
    --bs-pagination-border-color: #dee2e6;
    --bs-pagination-border-radius: 0.375rem;
    --bs-pagination-hover-color: #45747a;
    --bs-pagination-hover-bg: #e9ecef;
    --bs-pagination-hover-border-color: #dee2e6;
    --bs-pagination-focus-color: #45747a;
    --bs-pagination-focus-bg: #e9ecef;
    --bs-pagination-focus-box-shadow: none;
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: #45747a;
    --bs-pagination-active-border-color: #45747a;
    --bs-pagination-disabled-color: #6c757d;
    --bs-pagination-disabled-bg: #fff;
    --bs-pagination-disabled-border-color: #dee2e6
}

.pagination li {
    margin: 0 4px
}

.pagination li a {
    border-radius: 0 10px !important
}

.block-email-notify h3 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: red
}

.block-email-notify p {
    margin-top: 10px;
    text-align: center;
    color: red
}

@media screen and (min-width: 1200px) {
    #product-variants-options .form-group div>label {
        color:var(--color-secondary) !important;
        font-size: 1.75rem
    }
}

@media screen and (max-width: 992px) {
    .navbar-nav .nav-item:before {
        display:none
    }

    .navbar-nav .dropdown-menu {
        background: none;
        text-align: center;
        padding: 0
    }

    .navbar-nav .dropdown-menu li a {
        font-size: 12px;
        color: #fff;
        white-space: unset !important
    }
}

@media screen and (max-width: 767px) {
    img.card-img-top {
        height:130px
    }

    .photo {
        margin-top: 30px
    }

    .photo .min-h230p {
        min-height: 130px
    }

    .p-s-img img {
        width: 70%
    }

    .p-l-img img {
        width: 180%;
        max-width: unset;
        height: unset
    }

    .announcement-bar-display {
        display: none
    }

    .btm-nav.fixed-top .announcement-bar-display {
        display: block
    }

    .block-feat img {
        width: 25px !important;
        height: 25px !important
    }

    .block-feat h5 {
        font-size: 15px !important;
        margin-bottom: 4px !important
    }

    .section-feat-title {
        font-size: 18px
    }

    .img-question {
        width: 25px
    }

    .fixed-item-in-body {
        padding-top: 84px
    }

    .block-category-category {
        font-size: 15px
    }
}

.block-product del {
    color: red
}

.block-qty {
    background: #f5f5f5;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.block-qty button {
    background: none;
    border: 0;
    padding: 18px 10px;
    color: #707070;
    font-size: 12px
}

.block-qty input {
    text-align: center;
    color: #707070;
    border: 0;
    background: none;
    width: 60px
}

.product-card-bundle-offer {
    display: none;
    font-size: 10px !important
}

.product-card-bundle-offer.bundle-offer-product-tag {
    display: block
}

.block-side-menu {
    list-style: none;
    padding: 20px 10px;
    background: var(--primary-color);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px
}

.block-side-menu li {
    margin-bottom: 7px
}

.block-side-menu li a,.block-side-menu li button {
    background: none;
    border: 0;
    display: block;
    padding: 10px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    color: #fff !important
}

.block-side-menu li a i,.block-side-menu li button i {
    margin: 0 5px
}

.block-side-menu li:hover a,.block-side-menu li.active a {
    background: #fff;
    color: #000 !important
}

.block-side-menu li:last-child {
    margin-bottom: 0
}

.address-card {
    border: none;
    margin-bottom: 30px;
    height: 100%
}

.address-card .card-body {
    background: #f5f5f5;
    padding: 10px 44px 10px 10px
}

.address-card .card-title {
    margin-bottom: 0
}

.address-card .card-delete {
    position: absolute;
    top: 28px;
    right: 20px;
    cursor: pointer;
    color: #818286
}

.address-card .card-delete:hover {
    color: red
}

.address-card .card-text {
    margin-bottom: 10px;
    color: #818286
}

.address-card .card-text p {
    margin-bottom: 0;
    line-height: 24px
}

.address-card .card-link {
    text-decoration: underline
}

.address-card .card-link:hover {
    text-decoration: none
}

.block-order .head {
    background: #f5f5f5;
    padding: 20px 15px;
    font-size: 18px
}

.block-order .head a {
    color: var(--primary-color);
    text-decoration: underline
}

.block-order .head a:hover {
    text-decoration: none
}

.block-order .body {
    padding: 15px;
    border: 1px solid #ededed;
    line-height: 1.5
}

@media screen and (max-width: 767px) {
    .block-side-menu {
        margin:0 -15px;
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        border-radius: 0 !important;
        padding-right: 5px;
        padding-left: 5px;
        overflow-x: scroll;
        font-size: 12px;
        white-space: nowrap;
        margin-top: -48px
    }

    .block-side-menu li {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0
    }

    .block-side-menu li a {
        padding-left: 5px;
        padding-right: 5px
    }
}

.single-title {
    color: #707070;
    font-size: 24px
}

.block-price {
    color: #00943a;
    font-size: 28px;
    font-weight: bold
}

.block-price .old {
    line-height: 1px;
    display: block;
    font-size: 20px;
    width: 100%;
    color: rgba(88,88,88,.4);
    text-decoration: line-through
}

.label-p-qty {
    background: #f5f5f5;
    color: #a7a7a7;
    font-size: 16px;
    line-height: 23px;
    display: inline-block;
    padding: 3px 10px;
    height: fit-content;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px
}

.block-des {
    color: #9e9e9e;
    font-size: 16px;
    text-align: justify
}

.block-des h3 {
    font-size: 24px;
    color: #707070
}

.label-p-title {
    color: #707070;
    font-weight: bold
}

.label-p-text {
    color: #bfbfbf
}

.block-summery-review .avg {
    text-align: center;
    font-size: 116px;
    color: #00943a;
    font-weight: bold
}

.block-summery-review .r-avg {
    text-align: center;
    color: #e3e3e3
}

.block-summery-review .r-avg .active {
    color: #00943a
}

.block-summery-review .count-reviews {
    display: block;
    text-align: center;
    padding: 10px;
    color: #c9c9c9;
    font-size: 18px
}

.rate-bar-block td {
    border: 0 !important;
    padding: 2px 3px !important
}

.rate-bar-block .count-r {
    color: #000;
    font-weight: bold
}

.rate-bar-block .rating-label {
    color: #c2c2c2;
    white-space: nowrap
}

.reviews-break-down-div .d-flex.flex-column {
    padding: 0 15px
}

.user-review-text {
    padding: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    color: #8a8a8a !important
}

.card-review .icon-account_circle {
    display: none !important
}

.card-review .card-name {
    margin-left: 0 !important;
    margin-right: 0 !important;
    font-weight: bold;
    color: #000
}

.card-review .card-name .card-name-customer {
    margin: 0 !important
}

.card-review .card-date {
    font-size: 14px;
    color: #b1b1b1
}

.table-middle td,.table-middle th {
    vertical-align: middle
}

.product-formatted-price-old {
    color: red
}

.cart-product-row-wrapper {
    border: 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px
}

.cart-product-row-wrapper .cart-product-row {
    align-items: center;
    border: 0
}

.cart-product-row-wrapper .cart-product-row>* {
    padding: 0
}

.cart-product-row-wrapper .cart-product-row .cart-product-delete {
    order: 1;
    padding: 10px 0
}

.cart-product-row-wrapper .cart-product-row .cart-product-col-img img {
    border: 1px solid #eee
}

.cart-product-row-wrapper .cart-product-row .cart-product-col-details {
    padding: 0 10px
}

.cart-product-row-wrapper .cart-product-row .cart-product-col-details h1 {
    font-size: 18px
}

.cart-product-row-wrapper .cart-product-row .cart-products-action {
    padding: 0 10px
}

.cart-product-row-wrapper .cart-product-row .cart-products-action .cart-product-quantity-dropdown select {
    background: #fff;
    padding: 10px;
    border: 1px solid #b1b1b1;
    width: 80px;
    text-align: center;
    border-radius: 30px
}

.cart-product-row-wrapper .cart-product-row .cart-product-prices {
    font-weight: bold
}

.ak-cart-totals {
    margin-top: 40px
}

.ak-cart-totals h3 {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000
}

.ak-cart-totals h3 small {
    font-size: 14px;
    color: #8a8a8a
}

.list-cart-totals {
    list-style: none
}

.list-cart-totals li {
    padding: 10px 0
}

.list-cart-totals li .title {
    color: #000
}

.list-cart-totals li .value {
    color: #8a8a8a
}

.list-cart-totals li:last-child {
    border-top: 1px solid #eee
}

.list-cart-totals li:last-child span {
    color: #000;
    font-weight: bold
}

.btn-back-store {
    color: #000 !important
}

.btn-back-store:hover,.btn-back-store:focus {
    color: var(--primaryColor)
}

.cart-product-row {
    padding: 10px 0
}

.header-wrapper {
    background-color: #eee;
    padding: 7px 0px
}

@media screen and (max-width: 767px) {
    .cart-product-row {
        display:block !important;
        position: relative;
        overflow: hidden
    }

    .cart-product-row .cart-products-action,.cart-product-row .cart-product-col-details,.cart-product-row .cart-product-prices {
        width: 100%
    }

    .rtl .cart-product-col-img,.rtl .cart-products-action,.rtl .cart-product-col-details {
        float: right
    }

    .rtl .cart-product-row .cart-product-delete {
        left: 10px
    }

    .ltr .cart-product-col-img,.ltr .cart-products-action,.ltr .cart-product-col-details {
        float: left
    }

    .ltr .cart-product-row .cart-product-delete {
        right: 10px
    }

    .cart-product-quantity-dropdown label {
        display: none
    }

    .cart-product-row-wrapper .cart-product-row .cart-product-col-details {
        padding: 20px 10px 10px;
        text-align: center
    }

    .cart-product-row-wrapper .cart-product-row .cart-product-delete {
        position: absolute;
        top: 10px;
        padding: 0;
        font-size: 20px;
        color: red
    }

    .cart-product-row-wrapper .cart-product-row .cart-products-action .cart-product-quantity-dropdown select {
        width: 100%
    }

    .cart-product-row-wrapper .cart-product-row .cart-product-prices {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding-top: 10px
    }

    .cart-product-row-wrapper .cart-product-row .cart-product-prices>div {
        padding: 0 5px
    }

    .cart-product-col-img {
        width: 150px;
        margin: auto
    }
}

.cart-product-row .icon-delete {
    font-family: "Font Awesome 6 Free" !important;
    font-weight: 900;
    moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display, inline-block);
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto
}

.cart-product-row .icon-delete:before {
    content: "ï‡¸"
}
